<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RdvHome</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>RdV</h1>
        <p class="lead">Controller for GPIO. <a href="{% url 'status' %}" class="small">API &rarr;</a></p>
        <form method="POST" class="panel">
          {% for field in form %}
          <div class="checkbox">
            <label>
              {{ field }}
              {{ field.label }}
              {% if field.errors %}
              <small class="text-danger">{{ field.errors }}</small>
              {% endif %}
            </label>
          </div>
          {% endfor %}
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div><!-- /.container -->
  </body>
</html>