$item-size: 50px;
$item-padding: 15px;
$btn-width: $item-size + 20px;

$primary-color: white;
$background-color: black;

$toggle-height: $item-size - 2 * $item-padding;
$toggle-width:  $toggle-height * 2;

$border-color: rgba($primary-color, 0.3);